.exitBTN {
    font-size: 25px;
}
.fontSize{
    font-size: 15px;
}

 

.txtArea {
    resize: none;
    font-size: 25px;
}

#oF {
    transform: translateY(+30%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkslategray;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    font-size: large;
}

    #oF:hover {
        color: coral;
        background-color: blueviolet;
        border-radius: 50%;
    }

input {
    border: groove;
    border-width: thick;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: lightgray;
}

.Reg {
    color: black;
    font-weight: bold;
}

    .Reg:hover {
        background-color: black;
        color: white;
    }

.Sp {
    margin-top: 50px;
}

.row div {
    height: 440px;
}

.thumbnail:hover {
    box-shadow: 0px 0px 70px gold;
}

.displayed {
    height: 17em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.turnAround {
    position: absolute;
    width: 17em;
}

    .turnAround:hover {
        position: absolute;
        width: 17em;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

img:hover {
    box-shadow: 0px 30px 10px black;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
